/*
!.git/
!.gitignore
!default/
!ssh/
!ssh/sshd_config
!sshguard/
!sudoers.d/
!apt/
!scripts/
!iptables/
mrt/
!systemd/timesyncd.conf
!ntp.conf
!rc.local
!bind/
!apache2/
!mysql/
!postfix/
bind/zones/subzone*
